<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Register</title>
</head>
<body>
<div class="center">
    <div class="main">
    <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn" type="submit" value="Register">
</form>
<p>Already have an account? 
    <a href="{% url 'login' %}">login</a>
</p>
</div>
</div>
</body>
</html>